
*{
    box-sizing: border-box; /* Esto es para que el width:350 lateral no varia debido al usar padding:1em*/
}


.lateral{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    padding: 1em;
    width:350px;
    background-color: #56b3ab;
}

.perfil__circulo{
    width: 50px;
    height: 50px;
    overflow:hidden;
    border-radius:50%;
    margin: 0;
    
}

.perfil__foto{
    width:100%;
}

.perfil__nombres{
    color: #fff;
    font-size:20px;
    width: 250px;
    margin-left:0.5 em;
}

.perfil__circulo, .perfil__nombres{
    display: inline-block;
    vertical-align: middle;

}

.informacion{
    color:#0F6A62;
    position: absolute;
    bottom: 1em;
}

.informacion__titulo{
    font-size: 18px;

}

.habilidad{
    background-color: #0F6A62;
    color:#fff;
    font-size: 12px;
    display:inline-block;
    padding: .5em;
    text-transform: uppercase;
}

.habilidades{
    padding: 0.5em;    

}

